language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm

before_script:
    - composer install --prefer-dist --no-interaction

script:
    - phpunit -c phpunit.xml.dist --coverage-text
